<a href="https://colab.research.google.com/github/ryan9453/0602/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from urllib.request import urlretrieve
url = 'https://github.com/ryan9453/0602/raw/main/titanic/train.csv'
urlretrieve(url, 'train.csv')
url = 'https://github.com/ryan9453/0602/raw/main/titanic/test.csv'
urlretrieve(url, 'test.csv')

('test.csv', <http.client.HTTPMessage at 0x7f18b7a7a190>)

In [5]:
import pandas as pd
train_df = pd.read_csv('train.csv', encoding = 'utf-8')
test_df = pd.read_csv('test.csv', encoding = 'utf-8')

In [6]:
data = pd.concat([train_df, test_df], ignore_index = True)
data = data.drop(['PassengerId', 'Survived'], axis = 1)

test_df

     PassengerId  Pclass  ... Cabin Embarked
0            892       3  ...   NaN        Q
1            893       3  ...   NaN        S
2            894       2  ...   NaN        Q
3            895       3  ...   NaN        S
4            896       3  ...   NaN        S
..           ...     ...  ...   ...      ...
413         1305       3  ...   NaN        S
414         1306       1  ...  C105        C
415         1307       3  ...   NaN        S
416         1308       3  ...   NaN        S
417         1309       3  ...   NaN        C

[418 rows x 11 columns]

In [7]:
na = data.isna().sum()
# na

# Series[帶入跟你的資料筆數一樣多的 True/False list]
# na = data.isna().sum()
na[na > 0].sort_values(ascending = False)

Cabin       1014
Age          263
Embarked       2
Fare           1
dtype: int64

In [8]:
# 補類別(最常出現)
def cabin_head(s):
    if not pd.isna(s):
        return s[0]
data['Cabin'] = data['Cabin'].apply(cabin_head)

In [9]:
dic = data['Ticket'].value_counts()
data['Ticket'] = data['Ticket'].apply(lambda t:dic[t])

In [10]:
# 補缺失值 (類別: 最常出現) [!如果一堆測試資料，不要重算，直接補S]
most = data['Embarked'].value_counts().idxmax()
data['Embarked'] = data['Embarked'].fillna(most)

In [11]:
# 補缺失(數值: 中位數)
med = data.median().drop(['Pclass'])
data = data.fillna(med)
na = data.isna().sum()
na[na > 0].sort_values(ascending = False)

Cabin    1014
dtype: int64

In [12]:
def name_convert(s):
    s = s.split(',')[-1].split('.')[0]
    s = s.strip() # 去除多餘空格
    return s
counts = data['Name'].apply(name_convert).value_counts()
whitelist = counts[counts > 50].index

def name_convert(s):
    s = s.split(',')[-1].split('.')[0]
    s = s.strip() # 去除多餘空格
    if s in whitelist:
        return s
    else:
        return None
data['Name'] = data['Name'].apply(name_convert)

In [13]:
data = pd.get_dummies(data)
data = pd.get_dummies(data, columns = ['Pclass'])
data

       Age  SibSp  Parch  Ticket  ...  Embarked_S  Pclass_1  Pclass_2  Pclass_3
0     22.0      1      0       1  ...           1         0         0         1
1     38.0      1      0       2  ...           0         1         0         0
2     26.0      0      0       1  ...           1         0         0         1
3     35.0      1      0       2  ...           1         1         0         0
4     35.0      0      0       1  ...           1         0         0         1
...    ...    ...    ...     ...  ...         ...       ...       ...       ...
1304  28.0      0      0       1  ...           1         0         0         1
1305  39.0      0      0       3  ...           0         1         0         0
1306  38.5      0      0       1  ...           1         0         0         1
1307  28.0      0      0       1  ...           1         0         0         1
1308  28.0      1      1       3  ...           0         0         0         1

[1309 rows x 25 columns]

In [14]:
# 模型建立完，後續的嘗試，只是老師嘗試過，所以直接做
data['Family'] = data['SibSp'] + data['Parch']
data

       Age  SibSp  Parch  Ticket  ...  Pclass_1  Pclass_2  Pclass_3  Family
0     22.0      1      0       1  ...         0         0         1       1
1     38.0      1      0       2  ...         1         0         0       1
2     26.0      0      0       1  ...         0         0         1       0
3     35.0      1      0       2  ...         1         0         0       1
4     35.0      0      0       1  ...         0         0         1       0
...    ...    ...    ...     ...  ...       ...       ...       ...     ...
1304  28.0      0      0       1  ...         0         0         1       0
1305  39.0      0      0       3  ...         1         0         0       0
1306  38.5      0      0       1  ...         0         0         1       0
1307  28.0      0      0       1  ...         0         0         1       0
1308  28.0      1      1       3  ...         0         0         1       2

[1309 rows x 26 columns]

In [21]:
# 得到資料[列數] 可用下列兩種
print(len(data)) # 得到列數
print(data.shape) # 得到 ( 列數, 欄數)
train_df.shape

1309
(1309, 26)

(891, 12)

In [20]:
# .loc (根據列編號)(X) iloc(根據第幾個)(O)
# .iloc [第一列, 第二列, 第三列]
x_train = data.iloc[:train_df.shape[0]]
y_train = train_df['Survived']
x_predict = data.iloc[train_df.shape[0]:]
x_train
x_predict

       Age  SibSp  Parch  Ticket  ...  Pclass_1  Pclass_2  Pclass_3  Family
891   34.5      0      0       1  ...         0         0         1       0
892   47.0      1      0       1  ...         0         0         1       1
893   62.0      0      0       1  ...         0         1         0       0
894   27.0      0      0       1  ...         0         0         1       0
895   22.0      1      1       2  ...         0         0         1       2
...    ...    ...    ...     ...  ...       ...       ...       ...     ...
1304  28.0      0      0       1  ...         0         0         1       0
1305  39.0      0      0       3  ...         1         0         0       0
1306  38.5      0      0       1  ...         0         0         1       0
1307  28.0      0      0       1  ...         0         0         1       0
1308  28.0      1      1       3  ...         0         0         1       2

[418 rows x 26 columns]

In [33]:
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
params = {
    # (1). 5 (2).[1, 2, 3] (3). range
    # 20-99
    'n_estimators': range(20,100),
    # 3-10
    'max_depth': range(3,11)    
}
clf = RandomForestClassifier()
cv = GridSearchCV(clf, params, cv = 10, n_jobs = -1)
cv.fit(x_train, y_train)
print(cv.best_score_)
print(cv.best_params_)

0.845143570536829
{'max_depth': 7, 'n_estimators': 36}

In [ ]:
# cross_val_score 之重要參數
# sklearn.model_selection.cross_val_score(estimator, X, y=None, *, groups=None, scoring=None, cv=None, n_jobs=None, verbose=0, fit_params=None, pre_dispatch='2*n_jobs', error_score=nan)
# cv = cross validation ( 交叉驗證 )，測試data 的資料數
# n_jobs = cpu 的個數

In [41]:
clf = RandomForestClassifier(n_estimators = 36, max_depth = 7)
scores = cross_val_score(clf, x_train, y_train, cv = 10, n_jobs = -1)
print('10:', scores)
print('average:', np.average(scores))

10: [0.82222222 0.87640449 0.75280899 0.91011236 0.85393258 0.82022472
 0.85393258 0.78651685 0.87640449 0.83146067]
average: 0.8384019975031212

In [43]:
clf = RandomForestClassifier(n_estimators = 36, max_depth = 7)
clf.fit(x_train, y_train)
pre = clf.predict(x_predict)
df = pd.DataFrame({
    'PassengerId':test_df['PassengerId'],
    'Survived':pre
})
df.to_csv('rf.csv', encoding = 'utf-8', index = False)
df

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [53]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
scaler = MinMaxScaler()
data_scale = scaler.fit_transform(data)
data_scale = pd.DataFrame(data_scale, columns = data.columns)
# .loc (根據列編號)(X) iloc(根據第幾個)(O)
# .iloc [第一列, 第二列, 第三列]
x_train_scale = data_scale.iloc[:train_df.shape[0]]
x_predict_scale = data_scale.iloc[train_df.shape[0]:]
x_train_scale

          Age  SibSp     Parch  Ticket  ...  Pclass_1  Pclass_2  Pclass_3  Family
0    0.273456  0.125  0.000000     0.0  ...       0.0       0.0       1.0     0.1
1    0.473882  0.125  0.000000     0.1  ...       1.0       0.0       0.0     0.1
2    0.323563  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0
3    0.436302  0.125  0.000000     0.1  ...       1.0       0.0       0.0     0.1
4    0.436302  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0
..        ...    ...       ...     ...  ...       ...       ...       ...     ...
886  0.336089  0.000  0.000000     0.0  ...       0.0       1.0       0.0     0.0
887  0.235876  0.000  0.000000     0.0  ...       1.0       0.0       0.0     0.0
888  0.348616  0.125  0.222222     0.3  ...       0.0       0.0       1.0     0.3
889  0.323563  0.000  0.000000     0.0  ...       1.0       0.0       0.0     0.0
890  0.398722  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0

[891 rows x 26 columns]

In [56]:
from sklearn.neighbors import KNeighborsClassifier

params = {
    'n_neighbors':range( 3, 100 )    
}
clf = KNeighborsClassifier()
cv = GridSearchCV(clf, params, cv = 10, n_jobs = -1)
cv.fit(x_train_scale, y_train)
print(cv.best_score_)
print(cv.best_params_)

0.832796504369538
{'n_neighbors': 7}

In [55]:
clf = KNeighborsClassifier(n_neighbors=11)
clf.fit(x_train_scale, y_train)
pre = clf.predict(x_predict_scale)
df = pd.DataFrame({
    'PassengerId':test_df['PassengerId'],
    'Survived':pre
})
df.to_csv('knn.csv',encoding='utf-8',index=False)
df

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]